main {
    width: 50%;
    height: 100vh;
    justify-self: center;
    align-content: center;
}

form {
    background-color: aliceblue;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action-container {
    display: flex
    justify-content: space-between;
}